body{
  font-family: 'Comfortaa', cursive !important;
}
h1 {
  color: #9569fd;
  text-align: center;
  font-family: 'Comfortaa',cursive;
  margin-top: 10px !important;
  border: #9569fd;
  border-style: dotted;
  border-radius: 25px;
}

a {
  color: #ffffff !important;
}

a:hover {
  color: #c572fd !important;
}

p {
  font-size: 20px;
  font-weight: bold;
}

h5 {
  font-size: 30px !important;
}

.carousel-item img {
  filter: brightness(85%);
}

.col-md-6 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FE99C7;
  color: white;
  text-align: center;
}
